/.vs
/Santolibre.Map.Search.CacheUtility/*.user
/Santolibre.Map.Search.CacheUtility/bin
/Santolibre.Map.Search.CacheUtility/obj
/Santolibre.Map.Search.Lib/*.user
/Santolibre.Map.Search.Lib/bin
/Santolibre.Map.Search.Lib/obj
/Santolibre.Map.Search.WebService/*.log
/Santolibre.Map.Search.WebService/*.user
/Santolibre.Map.Search.WebService/bin
/Santolibre.Map.Search.WebService/obj
/Santolibre.Map.Search.LibTest/bin/
/Santolibre.Map.Search.LibTest/obj/
