<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="C:\Program Files\dotnet\dotnet.exe" arguments="exec &quot;D:\Source\github.com\Andy9FromSpace\map-search-core\Santolibre.Map.Search.WebService\bin\Debug\netcoreapp2.2\Santolibre.Map.Search.WebService.dll&quot;" stdoutLogEnabled="false" hostingModel="InProcess" />
    </system.webServer>
  </location>
</configuration>