<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="logfile" xsi:type="File" layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=tostring}" fileName="${basedir}/Santolibre.Map.Search.CacheUtility.log" archiveFileName="${basedir}/Santolibre.Map.Search.CacheUtility-{##}.log" archiveAboveSize="8388608" archiveNumbering="Sequence" maxArchiveFiles="5" />
    <target name="console" xsi:type="ColoredConsole" layout="${message} ${exception:format=tostring}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>
